* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column; /* creates rows out of the elements main and footer */
  height: 100vh;
  margin: 0;
}

section {
  flex: 1 0 auto; /*allows the content to grow but not shrink */
}

/*header*/
header {
  display: block;
  background-color: #102a43;
}

header h2 {
  position: absolute;
  margin-top: 20px;
  left: 10%;
  color: #00897b;
}

.nav {
  position: absolute;
  width: 100%;
}

.nav a {
  position: relative;
  left: 70%;
  top: 30px;
  text-decoration: none;
  margin-right: 20px;
  color: #00897b;
}

/*search bar and search button*/
.searchButton {
  margin-top: 10px;
  background-color: #00897b;
  color: white;
}
.searchButton:hover {
  background-color: #00897b;
  color: black;
}
.searchBox {
  margin-top: 10px;
}

/*header right side buttons: signup login userprofile*/
.buttons {
  margin-top: 20px;
}

.buttons li a {
  text-decoration: none;
  color: #00897b;
  font-size: large;
}
/*footer*/
.items ul li {
  list-style: none;
  font-size: 18px;
}
.items ul li a {
  text-decoration: none;
  color: #00897b;
}
.icons ul li a {
  font-size: large;
  padding-right: 10px;
  color: #00897b;
}

/*login page*/
/*login button*/
.btn3 {
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

.btn3:hover {
  background-color: white;
  border: 1px solid;
  color: black;
}

/*register page*/

.form-group.success input {
  border-color: #2ecc71;
}
.form-group.error input {
  border-color: #e74c3c;
  background-color: lightsalmon;
}

/*
input:valid {
  border-color: #2ecc71;
  background-color: aquamarine;
}
input:invalid {
  border-color: #e74c3c;
  background-color: blueviolet;
}
*/

/*sign up button*/
.btn1 {
  border: none;
  outline: none;

  height: 50px;
  width: 150px;
  background-color: #00897b;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

.btn2 {
  border: none;
  outline: none;

  height: 50px;
  width: 150px;
  background-color: #c62828;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

/*user profile*/
.profile-img {
  text-align: center;
}
.profile-img img {
  width: 50%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 50%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-menu {
  text-align: center;
  padding: 14%;
  margin-top: -15%;
}
.profile-menu a {
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-menu ul {
  list-style: none;
}

.profile-name h3 {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
}

.profile-menu ul li {
  padding: 20px 0 5px 0;
  border-bottom: 1px solid #f0f4f7;
  font-size: 20px;
}

.profile-menu ul li a:hover {
  background-color: #fafcfd;
  color: #5babd1;
}
.profile-menu ul li.active a {
  color: #5babd1;
  background-color: #f6fafb;
  border-left: 2px solid #5babd1;
  margin-left: -3px;
}
