* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
}
body {
  display: flex;
  flex-direction: column; /* creates rows out of the elements main and footer */
  height: 100vh;
  margin: 0;
}

section {
  flex: 1 0 auto; /*allows the content to grow but not shrink */
}
header {
  width: 100%;
  margin-bottom: 30px;
}

header {
  height: 10vh;
  background-color: #102a43;
}

header h2 {
  position: absolute;
  margin-top: 20px;
  left: 10%;
  color: #00897b;
}

.nav {
  position: absolute;
  width: 100%;
}

.nav a {
  position: relative;
  left: 70%;
  top: 30px;
  text-decoration: none;
  margin-right: 20px;
  color: #00897b;
}

/*footer*/
#icon {
  text-decoration: none;
  list-style: none;
}

/*login page*/
.btn3 {
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

.btn3:hover {
  background-color: white;
  border: 1px solid;
  color: black;
}

/*register page*/
.btn1 {
  border: none;
  outline: none;

  height: 50px;
  width: 150px;
  background-color: #00897b;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

.btn2 {
  border: none;
  outline: none;

  height: 50px;
  width: 150px;
  background-color: #c62828;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}
