.profile-nav .panel,
.profile-info .panel {
  padding: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #494949;
  border-radius: 5px;
}

.profile-nav .user-heading {
  background: #00897b;
  color: white;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  padding: 20px;
  text-align: center;
}
.profile-nav .user-heading.round a {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.3);
  display: inline-block;
}
.profile-nav .user-heading a img {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.profile-nav .user-heading h1 {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 5px;
  padding-top: 20px;
}
.profile-nav .user-heading p {
  font-size: 15px;
}
.profile-nav .user-heading .file h4 {
  font-size: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.profile-nav .user-heading .file {
  position: relative;
  color: #4b6f8d;
  background-color: #8dd7d6;
  border-radius: 4px;
  cursor: pointer;
}

.profile-nav .user-heading .file:hover {
  background-color: #6899c2;
  color: white;
}

.profile-nav .user-heading .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}

.profile-nav ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.profile-nav ul li {
  border-bottom: 1px solid #12736a;
  margin-top: 0;
  line-height: 30px;
}
.profile-nav ul li a {
  position: relative;
  display: block;
  padding: 10px 10px;
  text-decoration: none;
}

/* .profile-nav ul li:last-child {
  border-bottom: none;
} */
.profile-nav ul li a {
  border-radius: 0;
  -webkit-border-radius: 0;
  color: white;
  border-left: 1px solid #12736a;
  font-size: 17px;
}
.profile-nav ul li a:hover,
.profile-nav ul li a:focus,
.profile-nav ul li.active a {
  border-left: 5px solid #00897b;
  color: #d1d0d0 !important;
}
.profile-nav ul li:last-child > a:last-child {
  border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
}

.profile-nav ul li a i {
  font-size: 16px;
  padding-right: 10px;
  color: #bcb3aa;
}

/*right row heading*/
.bio-graph-heading {
  background: #00897b;
  color: #fff;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 4px 4px;
  font-size: 16px;
  font-weight: 300;
}

.bio-graph-heading h2 {
  font-size: 22px;
}
.bio-graph-heading h3 {
  font-size: 18px;
}

.bio-graph-info h1 {
  padding-top: 10px;
  font-size: 22px;
  font-weight: 300;
  margin: 0 0 20px;
}

/*admin table*/
.table-wrapper {
  color: white;
}

table td,
thead {
  font-size: 16px;
  color: white;
}
.table-tile {
  border-bottom: 1px solid white;
}

.table-title .btn i {
  float: left;
  font-size: 23px;
  margin-right: 5px;
  margin-top: 3px;
}
.table-title .btn span {
  float: left;
  margin-top: 2px;
}

table.table tr th,
table .table tr td {
  border-color: #333232;
  padding: 10px 15px;
  vertical-align: middle;
}
table.table tr th:last-child {
  width: 60px;
}
table.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgb(83, 83, 83);
}
table.table-striped tbody tr:hover {
  background-color: rgb(109, 107, 107);
}

table.table td a {
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  outline: none !important;
}

table.table td a.edit {
  color: #ffc107;
}
table.table td a.delete {
  color: rgb(204, 59, 59);
}
table.table td a:hover {
  color: darkcyan;
}

.pagination {
  float: right;
  margin: 0 0 5px;
}

.pagination li a {
  border: none;
  font-size: 14px;
  min-width: 30px;
  min-height: 30px;
  color: rgb(139, 139, 139);
  margin: 0 2px;
  line-height: 30px;
  border-radius: 4px !important;
  text-align: center;
  padding: 0 6px;
}
.pagination li a:hover {
  color: #666;
}

.pagination li.active a,
.pagination li.acitve a.page-link {
  background-color: #02d9c5 !important;
}
.pagination li.disabled i {
  color: #ccc;
}

.pagination li.active a:hover {
  background-color: darkcyan;
}

.pagination li i {
  font-size: 16px;
  padding-top: 6px;
}
.hint-text {
  float: left;
  margin-top: 10px;
  font-size: 14px;
}
.modal-body input {
  background-color: rgb(236, 236, 236);
  color: rgb(26, 25, 25);
}

.modal-body input:hover,
input.active,
input.focus {
  background-color: silver;
  color: white;
}