@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #383838;
  display: flex;
  flex-direction: column; /* creates rows out of the elements main and footer */
  height: 100vh;
  margin: 0;
}

section {
  flex: 1 0 auto; /*allows the content to grow but not shrink */
}

/*dropdown button starts*/
.dropbtn {
  background-color: #02d9c5;
  text-decoration: none;
  color: rgb(71, 71, 71);
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
}

.dropdownbtn {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-left: 40px;
  background-color: #585858;
  border-radius: 10px;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  font-size: 15px;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
  white-space: nowrap;
}

.dropdown-content a:hover {
  background-color: #474747;
}

.dropdownbtn:hover .dropdown-content {
  display: block;
}

.dropdownbtn:hover .dropbtn {
  color: white;
}
/*dropdown button ends*/

/*home page carousel*/
#carouselExampleControls .title i {
  color: white;
  font-size: 1.5em;
}
#carouselExampleControls .title a {
  color: white;
  font-size: 1em;
  text-decoration: none;
  float: right;
  margin-top: 15px;
  margin-right: 40px;
  cursor: pointer;
}
#carouselExampleControls .title a:hover {
  color: rgb(56, 221, 221);
  font-weight: bold;
}

.carousel-control-next,
.carousel-control-prev {
  margin: 150px 0;
}

/* .carousel .carousel-item .img-fluid {
  width: 100%;
  height: 100%;
} */

.categories .card {
  margin: 1px;
  width: 90%;
  height: 100%;
  overflow-y: auto;
  background-color: #5c5c5c;
  box-shadow: 0 0 10px 10px rgba(36, 36, 36, 0.2);
}

.categories .card-body {
  color: white;
}
.categories .card-body a {
  text-decoration: none;
  color: #02d9c5;
}

.categories .card-body a:hover {
  color: rgb(49, 189, 214);
}

/*register page*/
.form-control {
  background-color: #575757;
  border-color: #474747;
  color: #e7e7e7;
}

.form-group.success input {
  border: 2px #159225 solid;
}
.form-group.error input {
  border: 2px #f05544 solid;
  color: #e0e0e0;
}

.form-control:active,
.form-control:focus,
.form-control:focus:active {
  background-color: #666666;
  color: #dfdbdb;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

input[type="file"]::file-selector-button {
  background-color: #666666;
  color: #c5c4c4;
  border-right: none;
}
input[type="file"]::file-selector-button:hover {
  background-color: #81ecec !important;
  border: 2px solid #00cec9 !important;
}

input::placeholder {
  color: #c5c4c4 !important;
}
textarea::placeholder {
  color: #c5c4c4 !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: #dfdbdb !important;
}
/*header*/
header {
  display: block;
  background-color: #212121;
}
.items li a:hover {
  color: rgb(39, 99, 49);
}

header h2 {
  position: absolute;
  margin-top: 20px;
  left: 10%;
  color: #02d9c5;
}

.nav {
  position: absolute;
  width: 100%;
}

.navbar-light .navbar-brand {
  color: #02d9c5;
}

.nav a {
  position: relative;
  left: 70%;
  top: 30px;
  text-decoration: none;
  margin-right: 20px;
  color: #02d9c5;
}

/*search bar and search button*/
.searchBox {
  font-size: 16px;
  size: 50;
}
.searchButton {
  margin-top: 5px;
  padding: 7px;
  background-color: #02d9c5;
  color: #064942;
  font-size: 16px;
  border: none;
  border-radius: 50px;
}
.searchButton:hover {
  color: #e7e7e7;
}

/*header right side buttons: signup login userprofile*/
.buttons {
  margin-top: 20px;
  font-size: 18px;
}
.buttons li a {
  padding: 10px;
  background-color: #02d9c5;
  color: #064942;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  color: #064942;
}
.buttons li a:hover {
  background-color: #02d9c5;
  color: #e7e7e7;
}

/*footer*/
footer {
  background-color: #212121;
}
footer .row {
  padding-top: 15px;
}
.icons ul li {
  font-size: 20px;
  margin: 0 10px 18px;
}
.icons ul li a {
  color: #02d9c5;
}

.items ul li {
  list-style: none;
  font-size: 18px;
  display: inline;
  margin: 8px;
}
.items ul li a {
  text-decoration: none;
  color: #02d9c5;
}
/*login and sign up title*/
.container .row h3 {
  color: #02d9c5;
}

/*login page*/
/*login button*/
.btn3 {
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: #02d9c5;
  color: #064942;
  border-radius: 5px;
  font-weight: bold;
}

.btn3:hover {
  background-color: #2b5a3c;
  /* border: 1px solid; */
  color: #179286;
}

/*footer*/
.copyrights .copyright {
  color: white;
  font-size: 18px;
}

/*sign up button*/
.btn1 {
  border: none;
  outline: none;
  height: 50px;
  width: 100px;
  background-color: #1b615a;
  color: white;
  border-radius: 50px;
  font-weight: bold;
}
.btn1:hover {
  color: black;
}

.btn2 {
  border: none;
  outline: none;
  height: 50px;
  width: 100px;
  background-color: #a33939;
  color: white;
  border-radius: 50px;
  font-weight: bold;
}

/*user profile*/
.profile-img {
  text-align: center;
}
.profile-img img {
  width: 50%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 50%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-menu {
  text-align: center;
  padding: 14%;
  margin-top: -15%;
}
.profile-menu a {
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-menu ul {
  list-style: none;
}

.profile-name h3 {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
}

.profile-menu ul li {
  padding: 20px 0 5px 0;
  border-bottom: 1px solid #f0f4f7;
  font-size: 20px;
}

.profile-menu ul li a:hover {
  background-color: #fafcfd;
  color: #5babd1;
}
.profile-menu ul li.active a {
  color: #5babd1;
  background-color: #f6fafb;
  border-left: 2px solid #5babd1;
  margin-left: -3px;
}

/*about and contact page*/
.contact-container {
  background-color: rgb(72, 75, 78);
  padding: 20px;
  border-radius: 15px;
}
.contact-container .title {
  text-align: center;
}
.contact-container .title h1,
.contact-container .title p {
  color: rgb(207, 207, 207);
}

.contact-row {
  padding: 20px;
}

.contact-card {
  background-color: teal;
  color: #c5c4c4;
  padding: 20px 30px;
  border-radius: 15px;
}
.contact-card-body {
  text-decoration: none;
}
.contact-card-body ul {
  padding-left: 0;
}

.contact-card-body ul li {
  list-style: none;
  background-color: none;
  border-top: none;
  margin-top: 20px;
}

.contact-card-body ul li a {
  color: rgb(207, 207, 207);
  text-decoration: none;
}
.contact-card-body ul li a i {
  margin-right: 10px;
}
.contact-card-footer a {
  color: rgb(207, 207, 207);
  margin: 10px;
}
.contact-card-footer a:hover {
  color: black;
}
.contact-card-footer ul {
  text-align: center;
  margin-top: 40px;
}

.contact-form label {
  color: rgb(207, 207, 207);
}

.contact-form button {
  background-color: teal;
  border: teal;
  border-radius: 15px;
}

.contact-form button:hover {
  background-color: teal;
  border: teal;
  color: black;
}

/*about us page style*/
.about-us {
  color: rgb(207, 207, 207);
}

.about-card {
  color: white;
  background-color: #495057;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 10px 10px rgba(33, 116, 109, 0.2);
}
